<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
    <link rel="stylesheet" href="/xxx/css/hall-style.css">
</head>
<body>
	
	<div class="dialog-container">         
        <ul id="ul1"></ul>       
    </div>
    <div class="input-container" id="input-container" >
        <textarea id="input_content" id="" cols="30" rows="10"></textarea>
            <button id="btn1"><h1>push</h1></button> 
    </div>
 

</body>
</html>

<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.0.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/xxx/js/hall-jquery.js"> </script>