<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>海量用户聊天室</title>
    <link rel="stylesheet" href="/xxx/css/login-style.css" type="text/css">
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

</head>
<body>
    <div id="container">
        <div id="img-container" v-bind:style="{backgroundImage:'url(/xxx/' + imgSrc[imgIndex] + ')'}"> </div>

        <div id="form-container">
            <div id="form-content">
                <h2 id="function-selection"><span :class="{'seleted': !isRegister}" @click="selectLogin">Login</span>/<span @click="selectRegister" :class="{'seleted': isRegister}">Register</span></h2>
                <input v-show="isRegister" id="user-name" type="text" class="input" placeholder="User Name">
                <input id="user-account" type="text" class="input" v-model="userID" placeholder="ACCOUNT">
                <input id="user-password" type="password" class="input" v-model="password" placeholder="PAASSWORD">
                <a id="forget-password" v-show="!isRegister" href="#">Forget the password?</a>         
                <button id="login-button" v-text="isRegister?'Register':'Login'" @click="loginDo">Login</button>
            </div> 
            
        </div>
    </div>
</body>
</html>
<script src="/xxx/js/login-vue.js"></script>